.tarjetaFarmacia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3b82f6;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 350px;
    padding-bottom: 15px;
}

.tarjetaFarmacia img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.tarjetaFarmacia h2 {
    margin: 0;
    margin-top: 10px;
}

.tarjetaFarmacia h3 {
    margin: 0;
    margin-top: 5px;
}

.tarjetaFarmacia p {
    margin: 0;
    margin-top: 5px;
}