#Footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e7e7ea;
    align-content: center;
    text-align: center;
    line-height: normal;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: #33393e;
    min-height: 60px;
}

#Autores p{
    margin: 0px;
}

#Footer h1{
    margin: 0px;
    font-size: 18px;
}

#Autores {
    font-weight: bold;
    color: #33393e !important;
}

#Logos{
    margin: 0px;
}

#Informacion{
    margin-top: -10px;
    font-weight: bold;
    color: #33393e !important;
}

#log-out ul li, #log-in ul li{
    text-align: center;
}

.footerOculto {
    display: none !important;
}

@media screen and (max-width: 810px){
    #Autores p, #Logos, #Informacion {
        display: none;
    }

    #Footer {
        justify-content: center;
    }
}

@media screen and (max-width: 676px){
    #Footer {
        margin-bottom: 70px;
    }
}