#UsuarioDefault {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding-right: 15px;
    height: 80%;
    border-radius: 15px;
    font-size: 12px;
    margin-right: 40px;
}

#UsuarioDefault img {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-right: -5px;
    border-radius: 60px;
}

@media screen and (max-width: 810px){
    #UsuarioDefault {
        margin-right: 0;
    }
}