#menu {
    background-color: gray;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.paciente {
    background-color: #3b82f6 !important;
}

.sanitario {
    background-color: #10b981 !important;
}

.administrador {
    background-color: #f97316 !important;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 20px;
}

li:hover {
    cursor: pointer;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

#logo {
    height: 70px;
    width: 70px;
    align-self: center;
    margin-top: 20px;
    border-radius: 15px;
}

.menuOculto {
    display: none !important;
}

@media screen and (max-width: 676px){
    #menu {
        display: none;
    }
}